@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}


@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Post))
{
     <p class="mt-3" style="float:right">
            Takip Kodu: @Html.TextBox("id")
            <input class="btn btn-primary" type="submit" value="Ara" />
        </p>
}
<table id="tbl1" class="mt-5 table table-hover">
        <tr>
            <th>Personel</th>
            <th>Alici</th>
            <th>Takip Kodu</th>
            <th>Tarih</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Personel</td>
                <td>@u.Alici</td>
                <td>@u.TakipKodu</td>
                <td>@Convert.ToDateTime(u.Tarih).ToString("dd/MM/yyyy")</td>
                <td><a href="/CariPanel/CariKargoTakip/@u.TakipKodu" class="btn btn-warning">Detaylar</a></td>
            </tr>
        }
</table>
