@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="my-4">Departman Personel Satış</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active font-weight-bold">Personel Adı: @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Adet</th>
        <th>Birim Fiyatı</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Urun.UrunAd</td>
            <td>@i.Cariler.CariAd @i.Cariler.CariSoyad</td>
            <td>@i.Adet</td>
            <td>@i.Fiyat ₺</td>
            <td>@i.ToplamTutar ₺</td>
            <td>@Convert.ToDateTime(i.Tarih).ToString("dd/MM/yyyy")</td>
            <td><a href="#" class="btn btn-info">Yazdır</a></td>
        </tr>
    }
</table>