@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="my-4">Satış Detayı</h2>
<table class="table table-hover">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Birim Fiyatı</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Urun.UrunAd</td>
            <td>@i.Urun.Marka</td>
            <td>@i.Cariler.CariAd @i.Cariler.CariSoyad</td>
            <td>@i.Personel.PersonelAd @i.Personel.PersonelSoyad</td>
            <td>@i.Adet</td>
            <td>@i.Fiyat</td>
            <td>@i.ToplamTutar</td>
            <td>@Convert.ToDateTime(i.Tarih).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>
<button class="btn btn-primary mt-4">Yazdır</button>
